<!-- ================================================== -->
<!--  Payee combine template. -->
<!-- ================================================== -->

<template>
  <div>

    <!-- Header. -->
    <div class="w3-display-container w3-container w3-theme-l3" style="height:40px; position: absolute; width: 100%; top: 0; bottom: 0; left: 0; right: 0">
      <div class="page-text w3-display-left">Combine Payees</div>
    </div>    

    <div class="w3-theme-l4" style="position: absolute; height: 60px; width: 100%; top: 40px; left: 0; right: 0">

      <div class="save-cancel-grid">
        <div @click="save()" class="save-cancel-button w3-card w3-theme">Save</div>
        <div @click="cancel()" class="save-cancel-button w3-card w3-theme">Cancel</div>
      </div>

    </div>

    <!-- Payee list. -->
    <div style="position: absolute; top: 100px; bottom: 0; left: 0; right: 0; overflow-y: scroll; -webkit-overflow-scrolling: touch;">

      <div class="w3-container w3-padding w3-theme-l3">Select Primary Payee</div>

      <ul class="w3-ul w3-card">
        <li @click="payeeClicked(payee)" v-for="(payee, index) in payeesToCombine" :key="index" class="bar-50 w3-display-container">

          <div v-if="index === selectedIndex" class="arrow w3-display-left"><i class="fas fa-long-arrow-alt-right"></i></div>
          <div v-if="index < selectedIndex" class="arrow dimmed w3-display-left"><i class="fas fa-long-arrow-alt-down"></i></div>
          <div v-if="index > selectedIndex" class="arrow dimmed w3-display-left"><i class="fas fa-long-arrow-alt-up"></i></div>

          <div class="payee-name w3-display-left">
            <div class="w3-panel" :class="[index !== selectedIndex ? 'dimmed' : '']">{{payee.name}}</div>
            
          </div>

        </li>
      </ul>

    </div>

  </div>
</template>

<!-- ================================================== -->
<!--  Payee combine script. -->
<!-- ================================================== -->

<script>
  export default {
    name: 'fm-payee-edit',
    props: [
      'payeesToCombine'
    ],
    data () {
      return {
        selectedIndex: 0
      };
    },
    methods: {
      goBack () {
        this.cancel();
      },
      payeeClicked (payee) {
        this.selectedIndex = this.payeesToCombine.findIndex(p => p === payee);
      },
      save () {
        const primaryId = this.payeesToCombine[this.selectedIndex].id;
        const secondaryIds = [];

        this.payeesToCombine.filter(p => p.id !== primaryId).forEach(p => {
          secondaryIds.push(p.id);
        });

        this.$current.dbCtrl.combinePayees(primaryId, secondaryIds);
        this.$emit('save');
      },
      cancel () {
        this.$emit('cancel');
      }
    },
    mounted () {
    }
  };
</script>

<!-- ================================================== -->
<!--  Payee combine CSS. -->
<!-- ================================================== -->

<style scoped>
  .page-text {
    margin-left: 16px;
  }

  .arrow {
    font-weight: bold;
    padding: 0px 0px 0px 16px;
  }

  .dimmed {
    color: #cccccc;
  }

  .save-cancel-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 40px;
    grid-gap: 8px;
    width: 100%;
    padding: 10px;
  }

  .save-cancel-button {
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
  }
</style>
